<div class="flex min-h-screen items-center justify-center bg-gray-50 px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Recuperar contraseña</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Te enviaremos un enlace para restablecer tu contraseña
      </p>
    </div>

    <mat-card class="p-6">
      @if (!emailSent) {
        <div>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="space-y-6">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="email" placeholder="nombre@ejemplo.com" type="email">
              <mat-icon matPrefix>email</mat-icon>
              @if (resetForm.get('email')?.hasError('required')) {
                <mat-error>
                  El correo es obligatorio
                </mat-error>
              }
              @if (resetForm.get('email')?.hasError('email')) {
                <mat-error>
                  Ingrese un correo electrónico válido
                </mat-error>
              }
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="w-full" [disabled]="resetForm.invalid || isLoading">
              <div class="flex items-center justify-center">
                @if (isLoading) {
                  <mat-spinner diameter="20" class="mr-2"></mat-spinner>
                }
                <span>Enviar enlace de recuperación</span>
              </div>
            </button>
          </form>
        </div>
      } @else {
        <div class="text-center py-4">
          <mat-icon class="text-green-500 text-5xl">check_circle</mat-icon>
          <h3 class="text-xl font-medium mt-4">¡Correo enviado!</h3>
          <p class="mt-2 text-gray-600">Hemos enviado un enlace de recuperación a tu correo electrónico.</p>
          <p class="mt-1 text-gray-600">Revisa tu bandeja de entrada y sigue las instrucciones.</p>
          <button mat-raised-button color="primary" class="mt-6" [routerLink]="['/auth/login']">
            Volver a Inicio de sesión
          </button>
        </div>
      }


      <div class="mt-6 text-center text-sm">
        <a [routerLink]="['/auth/login']" class="text-indigo-600 hover:text-indigo-800">
          Volver a Inicio de sesión
        </a>
      </div>
    </mat-card>
  </div>
</div>
