:host {
    display: block;
}

.timeline-icon {
    position: relative;
}

.timeline-line {
    position: absolute;
    top: 40px;
    left: 20px;
    bottom: -20px;
    width: 2px;
    background-color: #e5e7eb;
}

.timeline-event:last-child .timeline-line {
    display: none;
}